<html>
  <head>
    <meta charset="utf-8" />
    <title>Cat Sensor</title>
  </head>
  <body>
    <h1>Cat Sensor</h1>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      fetch('/data.json')
        .then(r => r.json())
        .then(chartjson => {
          console.log(chartjson);
          const ctx = document.getElementById('myChart');
          new Chart(ctx, {
            type: 'bar',
            data: chartjson
          });
        });
    </script>
  </body>
</html>
